.header {
    grid-area: head;
    background-color: $color-grey-light-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &__logo {
      margin: 4rem;
      height: 8rem;
      display: block;
    }
}
  